# CMake directories #
#####################
*.o
build/
install/

# Config files #
################
config/*
setup

# ROOT Files #
##############
*.root
*.dat
*.pcm

# Data Files #
##############
*.ldf
*.pld

# Executables #
###############
*.cmd

# Dictionary files #
####################
Structures.h

# DAMM Files #
##############
*.drr
*.his
*.list
*.log
