# CMake directories #
#####################
*.o
build/
install/

# ROOT Files #
##############
*.root
*.pcm

# Data Files #
##############
*.ldf
*.pld
*.out
*.cal

# Executables #
###############
*.cmd

# Dictionary files #
####################
Structures.h

# DAMM Files #
##############
*.drr
*.his
*.list
*.log
