# Compiled Source #
###################
*.o
*.so

# Config files #
################
config/*
setup

# ROOT Files #
##############
*.root
*.dat
RootDict_rdict.pcm
RootDict.cpp
RootDict.h
Structures.cpp
Structures.h
LinkDef.h

# Executable #
##############
PixieLDF
rcbuild
*.cmd

# Dictionary Files #
####################
rcbuild
.def.struct.bkp
